.c-avatar {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  img {
    height: auto;
    width: 100%;
  }
}

.c-avatar--as-logo {
  border: 2px solid rgba($first-color, 0.2);
  height: 250px;
  width: 250px;
}

.c-avatar--as-author {
  border: 2px solid rgba($author-color, 100);
  height: 24px;
  width: 24px;
}
