

a {
  &.icon {
    text-decoration: none;
    border-bottom: none;
  }

  &:hover {
    svg {
      color: $first-color;
    }
  }

  svg {
    color: $light-gray-color;
    font-size: 1em;
    margin: 0 0.2em 0 0;
  }
}

table {
  font-family: Exo, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-weight: 100px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  // background-color: #bbe1fa;
}
