.ProjectGrid-Container {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: "wrap";
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1rem;
   
}

.ProjectGridCard {
    background-color: #FFF;
    height: 310px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999999;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-.1rem);
    }

}

.ProjectGridCard-heading {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    
    h1 {
        font-size: 1.6rem;
        font-weight: 600;
        padding-left: 1rem;
        color: $lila-color;
    }

    a {
        text-decoration: none;
        border-bottom: none;
    }

    svg {
        font-size: 1.3rem;
        color: grey;
        margin: 5px;

        &:hover {
            cursor: pointer;
            color: $lila-color;
        }
    }
       
}

.ProjectGridCard-description {
    p {
        font-size: 0.8rem;
    }
}

.ProjectGridCard-Links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
}



.ProjectGrid-image {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

img {
    height: auto;
    width: 75%;
}
