.c-project-list {
  list-style: none;
  padding: 0;
}

.c-project-list__item {
  margin: 0 0 0.6em 0;
  cursor: pointer;

  &:hover {
    svg {
      color: $first-color;
    }
  }

  svg {
    color: $light-gray-color;
    font-size: 1.2em;
    margin: 0 0.8em 0 0;
  }
}
