.ProjectGrid-Container {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: "wrap";
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1rem;
   
}

.ProjectGridCard {
    background-color: #FFF;
    height: 310px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #999999;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0px 10px 7px -2px rgba(163,163,163,1);
    }

}

.ProjectGridCard-heading {
    display: flex;
    justify-content: flex-start;
    align-content: center;

    &--name {  
        display:flex;
        justify-content: center;
        align-items: center;


        h1 {
            
            font-size: 1.6rem;
            font-weight: 600;
            padding-left: 1rem;
            color: $lila-color;
            a {
                display:flex;
                justify-content: center;
                align-items: center;
                svg {
                    font-size: 1.1rem;
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }
     

       

        &:hover {
            a {
                color: $lila-color;
            }

            svg {
                margin-left: 4px;
                margin-bottom: 4px;
                color: $lila-color;
            }
            
        }
    }


    a {
        text-decoration: none;
        border-bottom: none;
    }


       
}

.ProjectGridCard-description {
    height: 30%;
    p {
        font-size: 0.8rem;
        color: $dark-gray-color;
    }
}

.ProjectGridCard-Github {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
    svg {
        font-size: 1.3rem;
        color: grey;
        margin: 5px;
        margin-top: 6px;

        &:hover {
            cursor: pointer;
            color: $lila-color;
        }
      
    }
}



.ProjectGridCard-image {
  display: block;
  min-height: 170px;
}

img {
    height: auto;
    width: 75%;
}
