.ProjectGrid-Container {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: "wrap";
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1rem
}

.ProjectGridCard {
    background-color: "dae1e4";
    height: 270px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999999,
}

.ProjectGridCard-heading {
    display: flex;
    justify-content: flex-start;
    
    align-content: center;
    
    h1 {
        font-size: 1.6rem;
        font-weight: 600;
        padding-left: 1rem;
        color: $lila-color;
    }

    svg {
        font-size: 1.4rem;
        color: grey;
        margin: 5px;

        &:hover {
            cursor: pointer;
            color: $lila-color;
        }
    }
       
}

.ProjectGridCard-Links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
}

